<nav class="navbar navbar-dark bg-black py-3 shadow-sm">
    <div class="container d-flex justify-content-between">
        <a class="navbar-brand fw-bold text-info fs-4" href="/">이미지 프롬프트를 맞춰라</a>
        <a href="/admin" class="btn btn-outline-secondary btn-sm opacity-50">관리자</a>
    </div>
</nav>